h1,h2,h3,h4,h5
{
	font-family: 'Mouse Memoirs', sans-serif;
}
p
{
	font-family: 'Roboto', sans-serif;
}
.footer 
{
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
.posts
{
	list-style: none;
}