<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead" style="background-image:url(/assets/images/cover.jpeg)">
      <div class="masthead-inner">
        <h2 style="color:grey"><a href="/">{{ site.title }}</a></h2>
        <p class="lead"  style="color:grey">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
          <p style="font-size:10px">&copy; 2014. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
